PORT=5000
NODE_ENV=development

# MongoDB
MONGODB_URI=mongodb+srv://username:password@cluster.mongodb.net/mithai_world?retryWrites=true&w=majority
MONGODB_URI_FALLBACK=mongodb://127.0.0.1:27017/mithai_world

# JWT
JWT_SECRET=your_super_secret_jwt_key_change_in_production
JWT_EXPIRES_IN=7d

# Frontend
FRONTEND_URL=http://localhost:5173

# Google OAuth
GOOGLE_CLIENT_ID=53177357536-prea1mestrvmsou2137mqe1auh64ep14.apps.googleusercontent.com

# Admin Seed
ADMIN_NAME=Admin User
ADMIN_EMAIL=activegamer789@gmail.com
ADMIN_PASSWORD=Rahulbhai@12

# Razorpay (Payment Gateway)
RAZORPAY_KEY_ID=your_razorpay_test_key
RAZORPAY_KEY_SECRET=your_razorpay_test_secret

# Cloudinary (Image Upload)
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_cloudinary_api_key
CLOUDINARY_API_SECRET=your_cloudinary_api_secret

# OTP
OTP_TTL_MINUTES=10
